
# Project Master's Thesis: Forest Fire on Socioeconomic Outcomes in Indonesia
## Author: Lokesh Pandey
### Date: 05.02.2025

## Working with daily burned areas in Indonesia to create hysplit smoke emitting points

In [1]:
import os
import geopandas as gpd
import pandas as pd

Copying all the .shape files in a folder named **all_daily**.

In [3]:
# Load forest fire data in Indonesia
indonesia_fire = gpd.read_file("../../Data/GWIS_2021_Daily/Indonesia_daily/combined/combined_fires_indonesia.shp")

In [5]:
# Explore
## rows and columns
indonesia_fire.shape # (650077, 6)

(650077, 6)

In [6]:
indonesia_fire

,Id,IDate,index_righ,GID_0,COUNTRY,geometry
0,1335016,2001-08-31,0,IDN,Indonesia,"POLYGON ((114.41151 -3.30833, 114.41568 -3.308..."
1,1335016,2001-08-29,0,IDN,Indonesia,"POLYGON ((114.41199 -3.3125, 114.41616 -3.3125..."
2,1335016,2001-09-11,0,IDN,Indonesia,"POLYGON ((114.37203 -3.29167, 114.3762 -3.2916..."
3,1335016,2001-09-08,0,IDN,Indonesia,"POLYGON ((114.3762 -3.29167, 114.38037 -3.2916..."
4,1335016,2001-09-18,0,IDN,Indonesia,"POLYGON ((114.38037 -3.29167, 114.38455 -3.291..."
...,...,...,...,...,...,...
650072,5156041,2004-09-10,0,IDN,Indonesia,"POLYGON ((140.97072 -8.89583, 140.97916 -8.895..."
650073,5156042,2004-09-04,0,IDN,Indonesia,"POLYGON ((140.97333 -8.89167, 140.97755 -8.891..."
650074,5156045,2004-09-04,0,IDN,Indonesia,"POLYGON ((140.95245 -8.925, 140.95667 -8.925, ..."
650075,5156045,2004-09-02,0,IDN,Indonesia,"POLYGON ((140.95667 -8.925, 140.96088 -8.925, ..."
650076,5156045,2004-09-08,0,IDN,Indonesia,"POLYGON ((140.95406 -8.92917, 140.95828 -8.929..."

Forest fire with ```ID: 11011475``` is the largest wildfire according to the area it damaged as explored from the ESRI final area dataset with 51 days of fire and burning area of 1025771517 hectares (maybe?). Let's explore the area damaged by it.

In [10]:
# Filter observation for ID 11011475
fire_event = indonesia_fire[indonesia_fire['Id'] == 11011475]

In [11]:
fire_event

Empty GeoDataFrame
Columns: [Id, IDate, index_righ, GID_0, COUNTRY, geometry]
Index: []

In [ ]:
# Path to the Indonesia shape file
indo_path = "../../Data/gadm41_IDN_shp/gadm41_IDN_0.shp"

# Load the shape file into a GeoDataFrame
indo_gdf = gpd.read_file(indo_path)

# plot the country
indo_gdf.plot(edgecolor = "black", figsize = (10,10), cmap = "Set3")