
# Project Master's Thesis: Forest Fire on Socioeconomic Outcomes in Indonesia
## Author: Lokesh Pandey
### Date: 10.02.2025

In [1]:
import os
import geopandas as gpd
import pandas as pd

In [2]:
# Load final forest fire data in Indonesia
indonesia_fire = gpd.read_file("../../Data/GWIS_2021_Final/Indonesia_final/combined/combined_fires_indonesia_final.shp")

In [5]:
# Explore
#indonesia_fire.shape # Total of 198200 toal fires from 2000 to 2021

indonesia_fire

,Id,IDate,FDate,index_righ,GID_0,COUNTRY,geometry
0,17475778,2014-08-20,2014-09-22,0,IDN,Indonesia,"MULTIPOLYGON (((105.33248 -2.43333, 105.32831 ..."
1,17475797,2014-08-23,2014-09-15,0,IDN,Indonesia,"MULTIPOLYGON (((105.35569 -2.56667, 105.35986 ..."
2,17475989,2014-08-31,2014-09-22,0,IDN,Indonesia,"MULTIPOLYGON (((105.24489 -4.58333, 105.24366 ..."
3,17476027,2014-08-30,2014-09-25,0,IDN,Indonesia,"MULTIPOLYGON (((105.63233 -4.92917, 105.63167 ..."
4,17476701,2014-08-21,2014-09-18,0,IDN,Indonesia,"POLYGON ((114.52028 -2.4375, 114.52445 -2.4375..."
...,...,...,...,...,...,...,...
198195,10435335,2008-09-09,2008-09-14,0,IDN,Indonesia,"POLYGON ((140.09039 -8.27083, 140.0946 -8.2708..."
198196,10435337,2008-09-06,2008-09-06,0,IDN,Indonesia,"POLYGON ((140.08766 -8.275, 140.09187 -8.275, ..."
198197,10435341,2008-09-12,2008-09-12,0,IDN,Indonesia,"POLYGON ((140.63304 -8.57083, 140.63725 -8.570..."
198198,10435344,2008-09-13,2008-09-13,0,IDN,Indonesia,"POLYGON ((140.63345 -8.58333, 140.63766 -8.583..."
198199,10435353,2008-09-09,2008-09-09,0,IDN,Indonesia,"POLYGON ((140.73787 -8.6375, 140.74209 -8.6375..."

In [ ]:
#